<script>
    function convertFormat(string) {
        const formats = string.replace(/\[/g, '{').replace(/\]/g, '}');
        return formats

    }

    $(document).ready(() => {
        const requestFormat = `[[short_code=ussdServiceCode]],  [[session_id=transactionId]], [[from=msisdn]], [[to=msisdn]], [[text=ussdRequestString]], [[date=creationTime]]`;
        const responseStruncture = `[[text=responseString]], [[action=signal]]`;
        // double braces will be confused fro jinja. so we replace using regex
        if ($("#id_request_format").val() === "") {
            $("#id_request_format").val(convertFormat(requestFormat));
        }
        if ($("#id_response_structure").val() === "") {
            $("#id_response_structure").val(convertFormat(responseStruncture))
        }
        $("#id_response_format").on("change", function(){
            const label = $("label").attr("for","id_response_structure");
            const helpSpan = $("#help-response-structure");
            const inputBox = $("#id_response_structure");
            if($(this).val() == 2){ //lets use == not ===
                // hide response structure box
                label.hide();
                helpSpan.hide();
                inputBox.hide()
            }
            else{
                label.show();
                helpSpan.show();
                inputBox.show()
            }
        })
    });
</script>