<script>
    function convertFormat(string) {
        const formats = string.replace(/\[/g, '{').replace(/\]/g, '}');
        return formats

    }

    $(document).ready(() => {
        const requestFormat = `[[short_code=ussdServiceCode]],  [[session_id=transactionId]], [[from=msisdn]], [[text=ussdRequestString]]`;
        const responseStruncture = `[[text=responseString]], [[action=signal]]`;
        // double braces will be confused fro jinja. so we replace using regex
        const label = $('label[for="id_response_structure"]');
        const helpSpan = $("#help-response-structure");
        const inputBox = $("#id_response_structure");
        const pushUrlLabel = $('label[for="id_push_url"]');
        const pushUrlHelpSpan = $("#push-url");
        const pushUrlInputBox = $("#id_push_url");
        //hide push url staff right away
        pushUrlLabel.hide();
        pushUrlHelpSpan.hide();
        pushUrlInputBox.hide();

        if (inputBox.val() === "") {
            $("#id_request_format").val(convertFormat(requestFormat));
        }
        if (inputBox.val() === "") {
            $("#id_response_structure").val(convertFormat(responseStruncture))
        }

        $("#id_response_format").on("change", function(){

            if($(this).val() == 2){ //lets use == not ===
                // hide response structure box
                label.hide();
                helpSpan.hide();
                inputBox.hide()
            }
            else{
                label.show();
                helpSpan.show();
                inputBox.show()
            }
        });
        if($("#id_response_format").val() == 2){
            label.hide();
                helpSpan.hide();
                inputBox.hide()
        }
        $("#id_push_support").on("change", function () {
            if($(this).is(":checked")){
                pushUrlLabel.show();
                pushUrlHelpSpan.show();
                pushUrlInputBox.show();
            }else{
                pushUrlLabel.hide();
                pushUrlHelpSpan.hide();
                pushUrlInputBox.hide();
            }
        })
    });
</script>