{% extends "layouts/base.html" %}

{% block title %} Login {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-stretch auth auth-img-bg"
                 style="background-image: radial-gradient(circle, #E3F2FD, #ffffff, #ffffff);">
                <div class="row flex-grow">
                    <div class="col-lg-12 d-flex align-items-center justify-content-center">
                        <div class="auth-form-transparent text-left p-3">
                            <div class="brand-logo">
                            <span  style="color:#116596;font-size: 25pt;font-weight: bolder;margin-left: 0em;">
                                RapidPro External USSD Channel </span>
                            </div>
                            <hr>

                            <div class="col-md-12">
                                <div class="card">

                                    <form role="form" method="post" action="">

                                        {% csrf_token %}

                                        <div class="card-header" style="margin-left:1em;">
                                            <h4 class="title">Login</h4>

                                            <h6 class="card-category">
                                                {% if msg %}
                                                    <span class="text-danger">{{ msg }}</span>
                                                {% else %}

                                                    <h6 class="font-weight-light">Continue below!</h6>

                                                {% endif %}
                                            </h6>
                                        </div>

                                        <div class="card-body" style="margin-left:2em;">

                                            <div class="row">

                                                <div class="col-md-10 px-md-1">
                                                    <div class="form-group">
                                                        <label>Username</label>
                                                        {{ form.username }}
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="row">

                                                <div class="col-md-10 px-md-1">
                                                    <div class="form-group">
                                                        <label>Password</label>
                                                        {{ form.password }}
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                        <div class="card-footer" style="margin-left:1em;">
                                            <button type="submit" name="login" class="btn btn-fill btn-primary">Login
                                            </button>
                                            &nbsp; &nbsp;
                                            Don't have an account? <a href="{% url 'register' %}" class="text-primary">Register</a>
                                        </div>

                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
