{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}
{% load static %}
{% load readable%}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
  <div class="col-12">
    <div class="card card-chart">
      <div class="card-header ">
        <div class="row">
          <div class="col-sm-6 text-left">
            <h5 class="card-category"></h5>
            <h2 class="card-title">Performance</h2>
          </div>
        </div>
      </div>
      <div class="h-75 card-body">
        <div class="chart-area" style="height:280px">
          <canvas class="h-100" id="sessionsChart"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <input type="hidden" id="sessionClearStatus" />
  <div class="col-lg-12 col-md-12">
    <div class="card ">
      <div class="card-header">
        <h4 class="card-title">Live USSD Sessions</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table id="table-sessions-live" class="table tablesorter ">
            <thead class=" text-primary">
              <tr>
                <th>
                  Session&nbsp;ID
                </th>
                <th class="text-center">
                  Contact
                </th>
                <th class="text-center">
                  Aggregator
                </th>
                <th class="text-center">
                  Shortcode
                </th>
                <th class="text-center">
                  Status
                </th>
                <th class="text-center">
                  Date
                </th>
              </tr>
            </thead>
            <tbody>
              {% for session in sessions %}
              <tr>
                <td>
                  {{ session.session_id }}
                </td>
                <td class="text-center">
                  {{ session.contact }}
                </td>
                <td class="text-center">
                  {{ session.handler.aggregator }}
                </td>
                <td class="text-center">
                  {{ session.handler.short_code | readable }}
                </td>
                <td class="text-center">
                  <div class="badge-{{ session.badge }}">{{ session.status }}</div>
                </td>
                <td class="text-center">
                  {{session.last_access_at}}
                </td>
              </tr>
              {%  endfor %}

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% include 'includes/graph.html' %}
{% include 'includes/index-scripts.html' %}
{% endblock javascripts %}