{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 
{% load static %}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="row">
      <div class="col-12">
        <div class="card card-chart">
          <div class="card-header ">
            <div class="row">
              <div class="col-sm-6 text-left">
                <h5 class="card-category"></h5>
                <h2 class="card-title">Performance</h2>
              </div>
              <!--<div class="col-sm-6">
                <div class="btn-group btn-group-toggle float-right" data-toggle="buttons"><label class="btn btn-sm btn-primary btn-simple active" id="0">
                    <input type="radio" name="options" checked>
                    <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Accounts</span>
                    <span class="d-block d-sm-none">
                      <i class="tim-icons icon-single-02"></i>
                    </span>
                  </label>
                  <label class="btn btn-sm btn-primary btn-simple" id="1">
                    <input type="radio" class="d-none d-sm-none" name="options">
                    <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Requests</span>
                    <span class="d-block d-sm-none">
                      <i class="tim-icons icon-gift-2"></i>
                    </span>
                  </label>
                  <label class="btn btn-sm btn-primary btn-simple" id="2">
                    <input type="radio" class="d-none" name="options">
                    <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Sessions</span>
                    <span class="d-block d-sm-none">
                      <i class="tim-icons icon-tap-02"></i>
                    </span>
                  </label>
                </div>
              </div>-->
            </div>
          </div>
          <div class="h-75 card-body">
            <div class="chart-area" style="height:280px">
              <canvas class="h-100" id="myChart"></canvas>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-lg-12 col-md-12">
        <div class="card ">
          <div class="card-header">
            <h4 class="card-title">Live USSD Sessions</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table id = "table-sessions-live" class="table tablesorter " >
                <thead class=" text-primary">
                  <tr>
                    <th>
                      Session&nbsp;ID
                    </th>
                    <th>
                      Contact
                    </th>
                    <th>
                      Aggregator(Handler)
                    </th>
                    <th class="text-center">
                      Status
                    </th>
                  </tr>
                </thead>
                <tbody>
                {% for session in sessions %}
                    <tr>
                    <td>
                      {{ session.session_id }}
                    </td>
                    <td>
                        {{ session.contact }}
                    </td>
                    <td>
                      {{ session.handler }}
                    </td>
                    <td  class="text-center">
                      <div class="badge-{{ session.badge }}">{{ session.status }}</div>
                    </td>
                  </tr>
                {%  endfor %}

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
  <script>
   var chartColors = {
	red: 'rgb(255, 99, 132)',
	orange: 'rgb(255, 159, 64)',
	yellow: 'rgb(255, 205, 86)',
	green: 'rgb(75, 192, 192)',
	blue: 'rgb(54, 162, 235)',
	purple: 'rgb(153, 102, 255)',
	grey: 'rgb(201, 203, 207)'
};

function randomScalingFactor() {
	return (Math.random() > 0.5 ? 1.0 : -1.0) * Math.round(Math.random() * 100);
}

function onReceive(event) {
	window.myChart.config.data.datasets[event.index].data.push({
		x: event.timestamp,
		y: event.value
	});
	window.myChart.update({
		preservation: true
	});
}

var timeoutIDs = [];

function startFeed(index) {
	var receive = function() {
		onReceive({
			index: index,
			timestamp: Date.now(),
			value: randomScalingFactor()
		});
		timeoutIDs[index] = setTimeout(receive, Math.random() * 1000 + 500);
	}
	timeoutIDs[index] = setTimeout(receive, Math.random() * 1000 + 500);
}

function stopFeed(index) {
	clearTimeout(timeoutIDs[index]);
}

var color = Chart.helpers.color;
var config = {
	type: 'line',
	data: {
		datasets: [{
			label: 'Timed Out',
			backgroundColor: color(chartColors.red).alpha(0.5).rgbString(),
			borderColor: chartColors.red,
			fill: false,
			lineTension: 0,
			borderDash: [8, 4],
			data: []
		}, {
			label: 'Completed',
			backgroundColor: color(chartColors.blue).alpha(0.5).rgbString(),
			borderColor: chartColors.green,
			fill: false,
			cubicInterpolationMode: 'monotone',
			data: []
		}]
	},
	options: {
		title: {
			display: true,
			text: 'Session Tracking'
		},
		scales: {
			xAxes: [{
				type: 'realtime',
				realtime: {
					duration: 20000,
					delay: 2000,
				}
			}],
			yAxes: [{
				scaleLabel: {
					display: true,
					labelString: 'value'
				}
			}]
		},
		tooltips: {
			mode: 'nearest',
			intersect: false
		},
		hover: {
			mode: 'nearest',
			intersect: false
		}
	}
};

window.onload = function() {
	var ctx = document.getElementById('myChart').getContext('2d');
	window.myChart = new Chart(ctx, config);
	startFeed(0);
	startFeed(1);
};

document.getElementById('randomizeData').addEventListener('click', function() {
	config.data.datasets.forEach(function(dataset) {
		dataset.data.forEach(function(dataObj) {
			dataObj.y = randomScalingFactor();
		});
	});
	window.myChart.update();
});

var colorNames = Object.keys(chartColors);
document.getElementById('addDataset').addEventListener('click', function() {
	var colorName = colorNames[config.data.datasets.length % colorNames.length];
	var newColor = chartColors[colorName];
	var newDataset = {
		label: 'Dataset ' + (config.data.datasets.length + 1),
		backgroundColor: color(newColor).alpha(0.5).rgbString(),
		borderColor: newColor,
		fill: false,
		lineTension: 0,
		data: []
	};

	config.data.datasets.push(newDataset);
	window.myChart.update();
	startFeed(config.data.datasets.length - 1);
});

document.getElementById('removeDataset').addEventListener('click', function() {
	stopFeed(config.data.datasets.length - 1);
	config.data.datasets.pop();
	window.myChart.update();
});

document.getElementById('addData').addEventListener('click', function() {
	config.data.datasets.forEach(function(dataset) {
		dataset.data.push({
			x: Date.now(),
			y: randomScalingFactor()
		});
	});
	window.myChart.update();
});
  </script>
    <script>
    $(document).ready(function() {
        const sessionsTable = $('#table-sessions-live');
         sessionsTable.DataTable(
             {searching: false, info: false,pageLength:10,ordering:false, columns:[
             { data: 'session_id' },
             { data: 'contact' },
             { data: 'handler' },
             { data: 'status' }]
             });
      // Javascript method's body can be found in assets/js/demos.js
        //demo.showNotification('top','center',1,"Welcome to Exteranal USSD channel for RapidPro ");
        //websocket

        console.log('ws://'+ window.location.host+ '/ws/sessions');
        const chatSocket = new WebSocket(
            'ws://'+ window.location.host+ '/ws/sessions'
        );
        chatSocket.onopen = function(e){
            console.log("connection established")
        };
        chatSocket.onclose = function(e){
            console.log("connection Closed")
        };
        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            sessionsTable.DataTable().clear();
            const newSessions = JSON.parse(data.sessions);
            let trows='';
            newSessions.forEach((session)=>{
                const {session_id, contact,handler, badge, status} = session;
                trows +=`<tr><td>${session_id}</td><td>${contact}</td><td>${handler}</td><td class="text-center"><div class="badge-${badge}">${status}</div></td></tr>`
            });
            //$('#table-sessions-live tbody').append(trows)
            setTimeout(()=>{
                sessionsTable.DataTable().rows.add($(trows)).draw()
            },1000) // sleep for one second
        };

        //Dummy live chart

    });
  </script>

{% endblock javascripts %}
